asgiref
click
cvxpy
cycler
cmake
Django
ecos
Flask
future
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
maxrect
numpy
osqp
pandas
Pillow
pyparsing
python-dateutil
pytz
scipy
scs
shapely
six
sqlparse
Werkzeug
